@media only screen and (max-width: 650px) {
    .subcontainer {
        width: 100%;
        padding: 3% 0;
    }

    .avatar {
        width: 100%;
    }

    .card {
        padding: 0;
    }

    #content {
        padding: 0;
        margin: auto;
    }

    .card p {
        width: 100%;
    }

    .dateposted {
        margin-bottom: 3%!important;
    }

    h1{
        margin: 15px 0 15px 25px;
    }

}

@media only screen and (min-width: 650px) {
    .subcontainer {
        width: 90%;
        padding: 3% 1%;
    }

    .avatar {
        width: 90%;
    }

    .card {
        padding: 5%;
    }

    #content {
        padding: 25px 0 5px 25px;
    }

    .card p {
        width: 90%;
    }

    h1{
        margin:25px 0 5px 25px;
    }
}

.card {
    /* border: 1px solid;
    background-color: #fffef0; */
    border-radius: 10%;
}

.avatar {
    margin: auto;
    display: block;
    border-radius: 10%;
}

.card p {
    padding: 0;
    margin: auto;
}

.card h2 {
    text-align: center;
    margin-top: 3%;
    font-size: xx-large;
    font-weight: bold;
}

.icon {
    width: 15px;
    vertical-align: middle;
    margin-right: 1%;
    font-style: italic;
}

.contact {
    font-style: italic;
}

.subcontainer {
    border-bottom: 1px solid black;
    margin: auto;
}

.subtitle {
    font-weight: bold;
    font-size: large;
}

.dateposted {
    text-align: center;
    font-style: italic;
}

