body {
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 250px;
}

.div-left {
    width: 90%;
    margin: auto;
}

.div-right {
    width: 90%;
    margin: auto;
    text-align: center;
}

img {
    margin: auto;
    display: block;
    width: 300px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin: 3% auto;
    font-weight: bold;
}